body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
}

div {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #555; /* Medium gray background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #555; /* Medium gray text color */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #777; /* Dark gray border */
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #555; /* Medium gray background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Dark gray background on hover */
}

#searchResults {
    margin-top: 20px;
}

/* Additional Styles (customize as needed) */
#loginPage {
    background-color: #f0f0f0; /* Light gray background */
}

#profilePage {
    background-color: #f0f0f0; /* Light gray background */
}

#addFriendPage {
    background-color: #f0f0f0; /* Light gray background */
}

#searchFriendsPage {
    background-color: #f0f0f0; /* Light gray background */
}

#generateUsersPage {
    background-color: #f0f0f0; /* Light gray background */
}

#forgotPassword {
    display: block;
    margin-top: 10px;
    font-size: 14px; /* Adjust font size as needed */
    color: #555; /* Medium gray text color */
    text-decoration: none;
    text-align: center;
}

#forgotPassword:hover {
    text-decoration: underline;
}

